@use "mixin" as *;
@use "variables" as *;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    @include center(column, none, center, none, 2rem);
    background: color("body-bg");
    
    min-height: 100vh;
    height: 100%;
    padding-bottom: 3rem;
}

.header{
    @include center(row, center, center, center, 1rem);
    background-color: color("icon-bg");
    width: sizes("full");
    padding: sizes("xl");

    font-family: $font-primaria;
    font-size: clamp(.5rem, 2vw, 1rem);
    border-radius: 0 0 1rem 1rem;

    &__icon{
        color: color("white");
        background-color: color("icon-logo");
        padding: sizes("l");
        border-radius: sizes("m");
        font-size: clamp(1rem, 2vw, 1.5rem);
    }

    &__title{
        color: color("white");
    }
}

.control{
    border: 1px solid color("border-card");
    background-color: color("white");
    padding: sizes("xl");
    border-radius: sizes("m");
    width: sizes("content");
    max-width: sizes("max-content");

    font-family: $font-primaria;

    &__title{
        @include center(row, flex-start, center, center, 1rem);
        color: color("gray-title");
        
        &-title{
            font-size: clamp(1rem, 1vw,.8rem);
            font-weight: lighter;
        }
    }

    &__icon{
        font-size: clamp(1rem, 2vw, 1.5rem);
    }

    &__status {
        @include center(row, space-around, center, center, 0rem);
        padding: sizes("m");
        width: sizes("full");
    }

    // Ajustes de -input 
    &__status-input {
        @include center(row, center, center, center, .5rem);

        width: 60%;

    }
    
    &__status-field {
        background: color("body-bg");
        font-size: sizes("l");
        border-radius: sizes("s");
        padding: sizes("s") sizes("m");
        width: sizes("full");

        height: 4rem;
        font-weight: bold;
        outline: none;
        border: none;
        
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            opacity: 0;
        }
    }
    
    &__status-label {
        color: color("gray-title");
        font-size: sizes("l");

        font-weight: lighter;
        text-transform: uppercase;
    }
    
    
    // Ajuste de -feedback
    &__status-feedback {
        @include center(column, center, center, center, .5rem);
        
        background-color: color("feedback-bg");
        border: 1px solid color("border-card");
        padding: sizes("m");
        border-radius: sizes("m");

        width: 30%;
    }

    &__status-title{
        color: color("icon-logo");
        font-size: clamp(1.5rem, 2vw, 1.5rem);
        font-weight: lighter;
    }

    &__status-info {
        @include center(row, center, center, center, .5rem);
        
        i, p {
            color: color("sucess");
            font-size: sizes("m");
        }
    }

    @media (max-width: 900px){

        &__status {
            @include center(column, space-around, center, center, 2rem);
        }

        &__status-input {
            width: sizes("full");
        }

        &__status-feedback {
            width: sizes("full");
        }
    }
}

.filter{
    @include center(row, center, center, none, 2rem);
    background: color("button-bg");
    padding: sizes("xs");
    border-radius: sizes("s");
    width: sizes("content");
    max-width: sizes("max-content");
    
    &__button{
        font-family: $font-secundaria;
        color: color("gray-title");
        border-radius: sizes("s");
        padding: sizes("m");
        width: sizes("content");

        font-weight: bolder;
        border: none;
        background: none;
        cursor:pointer;
    }

    .active{
        background: color("white");
        color: color('icon-logo');
    }

    .add{
        background-color: color("white");
        padding: sizes("m");
        border-radius: sizes("s");

        border: none;
        cursor: pointer;
    }
}


// itens 

.itemReviw{
    font-family: $font-secundaria;
    width: sizes("content");
    height: sizes("content");
    max-width: sizes("max-content");

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: sizes("s");



    &__card{
        background-color: color("white");
        border: 2px solid color("border-card");
        width: sizes("full");
        height: sizes("full");

        border-radius: sizes("m");
        @include center(column, center, center, center, .5rem);
        padding: sizes("l") sizes("m");
    }

    //? titulo do card
    &__header{
        @include center(row, flex-start, center, center, 1rem);
        width: sizes("full");
    }
    
    &__icon{
        background-color: color("iconCard-bg");
        color: color("card-title");
        padding: sizes("m");
        border-radius: sizes("s");
    }
    
    &__titleGroup{
        @include center(column, center, flex-start, center, .2rem);
    }
    
    &__name{
        color: color("card-title");
    }
    
    &__interval{
        color: color("card-subtitle");
    }


    //? Progresso card
    &__status{
        width: sizes("full");
        margin: sizes("s") 0;
    }
    
    &__textGroup{
        @include center(row, space-between, center, center, .2rem); 
    }
    
    &__mudeStatus{
        color: color("sucess");
        font-weight: bold;
    }
    &__remaining{
        color: color("card-title");
        font-weight: bold;
    }


    //? footer card 
    &__footer{
        @include center(row, space-between, center, center, .2rem);
        width: sizes("full");
    }

    &__lastChange{
        color: color("card-subtitle");
        font-weight: bold;
    }

    &__button{
        background-color: color("cardButton-bg");
        color: color("cardButton-text");
        padding: sizes("m");
        border-radius: sizes("s");
        border: none;
        font-weight: bolder;
        cursor: pointer;

    }

    @media (max-width: 900px){
        grid-template-columns: 1fr;

    }
    
//! vai ser trocado por um JS
.progress-container {
    width: 95%;           /* Largura total */
    background-color: #f3f4f6; 
    border-radius: 50px;   /* Deixa as bordas arredondadas */
    height: 10px;          /* Altura da barra */
    overflow: hidden;      /* Garante que o preenchimento não saia da borda */
    margin: .5rem 0;
    
}
.progress-bar {
    width: 40%;            /* Altere aqui para controlar a porcentagem */
    height: 100%;
    background-color: #10b981; /* Cor verde da imagem */
    border-radius: 50px;
    transition: width 0.5s ease-in-out; /* Opcional: animação ao mudar o valor */
}
}
